[submodule "bashdots"]
	path = bashdots
	url = git@github.com:PisoMojado/bashdots.git
[submodule "zshdots"]
	path = zshdots
	url = git@github.com:PisoMojado/zshdots.git
[submodule "c6f872914e74217a3b52e84a867459e0"]
	path = termopen
	url = git@gist.github.com:c6f872914e74217a3b52e84a867459e0.git
[submodule "home/tmux/.tmux"]
	path = home/tmux/.tmux
	url = git@github.com:gpakosz/.tmux.git
